IO_LOC "PA_EN" 51;
IO_LOC "HP_DIN" 54;
IO_LOC "HP_WS" 55;
IO_LOC "HP_BCK" 56;
IO_LOC "rst" 87;
IO_LOC "clk" 4;

IO_PORT "PA_EN" PULL_MODE=UP DRIVE=8;
IO_PORT "HP_DIN" PULL_MODE=UP DRIVE=8;
IO_PORT "HP_WS" PULL_MODE=UP DRIVE=8;
IO_PORT "HP_BCK" PULL_MODE=UP DRIVE=8;
IO_PORT "rst" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;